* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Tiro Kannada', serif;

}

body {
    background-color: #FFBB69;
}

.title {
    font-size: 8vh;
}

.parrafo {
    font-size: 4vh;
}

.navbar {
    background-color: #D69D58;

    a {
        @extend .parrafo;
        color: black;
    }
}

.jumbotron {
    display: flex;
    height: 90vh;
    background-image: url(./img/boda.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        @extend .title;
        color: white;
        padding: 3vh;
        text-align: center;
        text-shadow: -5px 6px 10px rgba(255, 255, 255, 0.74);
    }

    p {
        @extend .parrafo;
        color: white;
        padding: 5vh;
        text-shadow: -5px 6px 10px rgba(255, 255, 255, 0.74);
    }
}

.nosotros {
    .nosotros--titulo {
        text-align: center;
        background-color: #D69D58;
        padding: 1vh;

        h3 {
            @extend .title;
        }

        p {
            @extend .parrafo;
        }
    }

    .nosotros--info {
        h3 {
            @extend .title;
            text-align: center;
        }

        p {
            @extend .parrafo;
            text-align: center;
        }

        .info--iframe {
            padding-top: 3vh;
        }

        .info--parrafo {
            padding: 5vh;
        }

        .info--img {
            height: 58vh;
            padding: 5vh;
            background-image: url(./img/fotografo.jpg);
            background-size: cover;
            margin-bottom: 3vh;
            border-radius: 50px;
        }
    }
}

.footer {
    .footer--list {
        background-color: #D69D58;
        display: flex;
        padding: 3vh;
    }

    ul {
        margin: 0%;
        list-style: none;
        justify-content: center;
        gap: 5vh;
    }

    a {
        @extend .parrafo;
        color: black;
        text-decoration: none;
    }
}

@media screen and (min-width:320px) and (max-width:755px) {
    .title {
        font-size: 6vh;
    }

    .parrafo {
        font-size: 3vh;
    }

    .info--parrafo__linea {
        p {
            padding-bottom: 50px;
            border-bottom: 1px solid black;
        }
    }
}